<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand me-5" routerLink="/inicio"><img class="img-logo" alt="unidos Início" src="assets/imgs/unidos.jpeg">
      Unidos Pela Vida
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-5">
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/inicio"> Início</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/upload"> Upload</a>
      </div>
    </div>
    
  </div>
</nav>